html{
  height: 100%;
  width: 100%;
  body{
    @include red-gradient;
    color: $white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    #root{
      height: 100%;
      width: 100%;
    }
    .container{
      width: 80%;
      max-width: 720px;
      margin: 0 auto;
    }
    #public-container{
      // background-color: red;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 90%;
      max-width: 520px;
      height: 100vh;
      margin: 0 auto;
    }
    
    h1, h2, h3, h4, h5, h6{
      color: $black;
    }
    button:hover{
      cursor: pointer;
    }

  }
}