html{
  height: 100%;
  width: 100%;
  body{
    @include red-gradient;
    color: $white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    #root{
      height: 100%;
      width: 100%;
    }
    
    h1, h2, h3, h4, h5, h6{
      color: $black;
    }
    button:hover{
      cursor: pointer;
    }
    
    .container{
      width: 80%;
      max-width: 720px;
      margin: 0 auto;
    }
    #public-container{
      // background-color: red;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 90%;
      max-width: 520px;
      height: 100vh;
      margin: 0 auto;
    }

    .card{
      background-color: $white;
      color: $black;
      padding: 1em;
      border-radius: $small-radius;
      margin-bottom: 1em;
      margin-top: 1em;
      label, input{
        color: $black;
      }
      input{
        background-color: lightgray;
      }
    }
  }
}