$background-color: rgb(253, 253, 253);
$white: rgb(230, 230, 230);
$black: rgb(24, 0, 0);
$dark-transparent: rgba(0, 0, 0, 0.2);
$small-radius: 4px;
$main-border: 2px solid $white;
$private-navbar-height: 45px;
